$line-color: rgba(26, 173, 241, 0.947);

.container {
    width: 100%;
    height: 100%;

    ::ng-deep .plot-base.plot-line {
        &.line-2 {
            path, circle {
                stroke: rgb(36, 189, 56);
            }
        }
        &.line-3 {
            path, circle {
                stroke: rgba(136, 136, 136, 0.414);
            }
        }
        &.line-4 {
            path, circle {
                stroke: $line-color;
            }
        }
    }
    ::ng-deep .plot-base.plot-frame.left-label {
        stroke: transparent;
        fill: transparent;
        text {
            fill: $line-color;
        }
    }
}
