.container {
    width: 100%;
    height: 100%;

    ::ng-deep .plot-base.plot-line {
        &.line-2 {
            path, circle {
                stroke: rgb(36, 189, 56);
            }
        }
        &.line-3 {
            path, circle {
                stroke: rgba(136, 136, 136, 0.414);
            }
        }
    }
}
