$primary-line-color: rgba(26, 173, 241, 0.947);
$secondary-line-color: rgb(36, 189, 56);


.plot-d3-container .d3-plot.line-demo {
	.plot-elm.line-series-elm {
		&.line-2 {
			path {
				stroke: $secondary-line-color;
				fill: none;
			}

			.point-marker {
				stroke: $secondary-line-color;
				fill: $secondary-line-color;
			}
		}

		&.line-4 {
			path {
				stroke: $primary-line-color;
				fill: none;
			}

			.point-marker {
				stroke: $primary-line-color;
				fill: $primary-line-color;
			}
		}
	}
}