$line-color-primary-line: rgba(26, 173, 241, 0.947);
$line-color-secondary-line: rgb(36, 189, 56);


.plot-d3-container .d3-plot.line-demo {
	.plot-elm.line-series-elm {
		&.line-2 {
			path {
				stroke: $line-color-secondary-line;
				fill: none;
			}

			.point-marker {
				stroke: $line-color-secondary-line;
				fill: $line-color-secondary-line;
			}
		}

		&.line-4 {
			path {
				stroke: $line-color-primary-line;
				fill: none;
			}

			.point-marker {
				stroke: $line-color-primary-line;
				fill: $line-color-primary-line;
			}
		}
	}
}