.container {
    width: 100%;
    height: 100%;

    ::ng-deep g.a-group  {
        fill: none;
        stroke-width: 2px;
        .red-line {
            stroke: rgb(233, 84, 84);
        }
        .blue-line {
            stroke: rgb(84, 94, 233);
        }
        .green-line {
            stroke: rgb(127, 196, 87);
        }
    }
    ::ng-deep g.a-circle-group {
        .green-line {
            stroke: rgb(127, 196, 87);
        }
        .blue-line {
            stroke: rgb(103, 124, 216)
        }

        .small-circle {
            stroke: none;
            fill: rgb(126, 126, 33)
        }
        .small-text {
            font-size: 12px;
            stroke: none;
            fill: rgb(216, 216, 103)
        }
        .blue {
            fill: rgb(103, 124, 216)
        }
    }
    ::ng-deep g.a-rect-group {
        .circle {
            fill: orange;
        }
        .rect {
            fill: rgba(255, 166, 0, 0.616);
            stroke: orange;

        }
    }
}