$plot-area-color-top-area-frame: rgb(44, 139, 44);
$plot-area-color-bottom-area-frame: lightgreen;
$plot-area-color-left-area-frame: rgb(141, 141, 219);
$plot-area-color-right-area-frame: rgb(209, 183, 65);
$plot-area-color-area-label-text: rgb(170, 170, 82);


.plot-d3-container .d3-plot.plot-area {
	.plot-elm.area-frame {
		rect {
			fill: transparent;
		}

		&.top-label rect {
			stroke: $plot-area-color-top-area-frame;
		}

		&.bottom-label rect {
			stroke: $plot-area-color-bottom-area-frame;
		}

		&.left-label rect {
			stroke: $plot-area-color-left-area-frame;
		}

		&.right-label rect {
			stroke: $plot-area-color-right-area-frame;
		}
	}

	.plot-elm.area-label {
		text {
			stroke: transparent;
			fill: $plot-area-color-area-label-text;
		}
	}
}