.container {
    width: 100%;
    height: 100%;

    ::ng-deep .plot-base.plot-frame {
        fill: transparent;
        text {
            stroke: transparent;
            fill: rgb(170, 170, 82)
        }

        &.top-label {
            stroke: green;
        }
        &.bottom-label {
            stroke: lightgreen;
        }
        &.left-label {
            stroke: blue;
        }
        &.right-label {
            stroke: lightblue;
        }
    }
}
