
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #343537;
    overflow: auto;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .demo1 {
        height: 200px;
        width: 300px;
        padding: 5px;
    }
    .demo2 {
        height: 400px;
        width: 100%;
        padding: 5px;
    }
    .demo3 {
        height: 300px;
        width: 100%;
        padding: 5px;
    }
}