$transition-line-color: rgb(189, 189, 70);

:host {
	/* TODO: Refactor away from ::ng-deep once plot styles expose a dedicated theming API. */
	::ng-deep {
		.d3-container .d3-plot.transition-line {
			.plot-elm.line-series-elm.custom-transition {
				path {
					stroke: $transition-line-color;
					fill: none;
				}

				.point-marker {
					stroke: $transition-line-color;
					fill: $transition-line-color;
				}
			}
		}
	}
}