.container {
	width: 100%;
	height: 100%;

	::ng-deep .plot-elm.line-series-elm.custom-transition {
		path {
			stroke: rgb(189, 189, 70);
			fill: none;
		}

		.point-marker {
			stroke: rgb(189, 189, 70);
			fill: rgb(189, 189, 70);
		}
	}
}
