.container {
	width: 100%;
	height: 100%;

	::ng-deep .d3-container {
		background-color: #dedee3;
	}

	::ng-deep .d3-plot {
		fill: transparent;
	}

	::ng-deep .axis-container {
		stroke: #9a9aa1;
		path,
		g.tick line {
			stroke: #a8a8af;
			stroke-width: 0.7;
		}

		g.tick text {
			stroke: transparent;
			fill: #5f5f66;
			font-size: 12px;
		}
	}

	::ng-deep .grid-container .grid-line {
		stroke: #b8b8bf;
		stroke-width: 0.6;
	}

	::ng-deep .plot-elm.bar-plot-elm.monthly-sales .bar-item {
		fill: #3f51b5;
		stroke: #3f51b5;
	}

	::ng-deep .plot-elm.bar-plot-elm .bar-tooltip {
		&.hidden {
			display: none;
		}

		rect {
			fill: rgba(47, 47, 54, 0.92);
			stroke: rgba(105, 105, 112, 0.95);
		}

		text {
			fill: #f2f2f4;
			font-size: 12px;
		}
	}

	::ng-deep .title-elm text {
		font-size: 16px;
		font-weight: 600;
		fill: #5f5f66;
	}

	::ng-deep .plot-elm.bar-legend-item {
		rect {
			fill: #3f51b5;
			stroke: #3f51b5;
		}

		text {
			fill: #5f5f66;
			font-size: 13px;
		}
	}

	::ng-deep .plot-elm.axis-label-item text {
		fill: #5f5f66;
		font-size: 13px;
	}
}
