$color-background: #363640;
$color-title: rgb(245, 245, 245);
$color-line-elm: rgb(126, 124, 173);
$color-axis: gray;

::ng-deep .d3-container {
    font-family: sans-serif;
    background-color: $color-background;
    .d3-plot {
        fill: transparent;
    }
    .title-elm {
        font-size: 20px;
        stroke: transparent;
        fill: $color-title;
    }
    .plot-elm.line-series-elm {
        stroke: $color-line-elm;
        circle {
            fill: $color-line-elm;
        }
    }
    .axis-container {
        stroke: $color-axis;
        path {
            stroke: $color-axis;
            stroke-width: 0.5;
        }
        g.tick line {
            stroke: $color-axis;
            stroke-width: 0.5;
        }
        g.tick text {
            stroke: transparent;
            fill: $color-axis;
        }

    }
}