$color-background: #363640;
$color-title: rgb(245, 245, 245);

::ng-deep .d3-container {
    font-family: sans-serif;
    background-color: $color-background;
    .d3-plot {
        fill: transparent;
    }
    .title-elm {
        font-size: 20px;
        stroke: transparent;
        fill: $color-title;
    }
}