/* You can add global styles to this file, and also import other style files */
@use './plot/plot-styles';
@use './components/global_styles';

div {
    box-sizing: border-box;
}
.plot-v1-base {
    font-family: sans-serif;
    font-size: 12px;
}
